# List

list is ordered group of elements/values/objects which encloses elements inside the square brackets. All elements are separated by comma. Also list is a heterogeneous data type

In [1]:
a = [10, 'python', 20.8, 100]
print(a)

[10, 'python', 20.8, 100]

In [2]:
print(type(a))

<class 'list'>

In [3]:
a = []
print(type(a))
print(a)

<class 'list'>
[]

In [4]:
print(bool([]))

False

In [5]:
print(bool([5]))

True

In [6]:
print(bool([None]))

True

In [7]:
print(bool(None))

False

In [8]:
print(bool([0]))

True

In [9]:
print(list(10))

TypeError: 'int' object is not iterable

In [10]:
t = (10, 20)
print(list(t))

[10, 20]

In [14]:
houses = ["Nag", "Bharathi", "Tarun", "Sunil"]
print(houses[3])

Sunil

In [15]:
print(houses[2])

Tarun

In [16]:
house_3_name = houses[2]
print(house_3_name)

Tarun

In [17]:
print(houses[-3])

Bharathi

In [18]:
print(houses)

['Nag', 'Bharathi', 'Tarun', 'Sunil']

In [19]:
print(houses[-6])

IndexError: list index out of range

In [20]:
houses[3] = "likhita"
print(houses)

['Nag', 'Bharathi', 'Tarun', 'likhita']

In [21]:
veg = ["tomato", 60.5, "cucumber", 50, "potato", 60]

# slicing

1. starting index(default 0)
2. end index(default ---> length of the list)
3. step size(default 1)
[SI:EI:SS]
list slicing is used to get the multiple values at a time. The outcome of list slicing is always a list

In [22]:
print(veg[1:5:3])

[60.5, 'potato']

In [23]:
print(veg)

['tomato', 60.5, 'cucumber', 50, 'potato', 60]

In [24]:
print(veg[1:4])

[60.5, 'cucumber', 50]

In [25]:
print(veg[1::2])

[60.5, 50, 60]

In [26]:
print(veg[::2])

['tomato', 'cucumber', 'potato']

In [27]:
veg = ["tomato", 60.5, 100, "cucumber", 50, 190, "potato", 60, 500 ]
print(veg[1::3])

[60.5, 50, 60]

In [28]:
print(veg[5:2])

[]

In [29]:
print(veg[5:2:-1])

[190, 50, 'cucumber']

In [30]:
print(len(veg))

9

In [31]:
l = [10, 20, 30]

for <var> in <seq>:
    st1
    st2
    |
    |
    st2
for each element in the sequence, it executes all the statements
it takes one by one element from sequence, assigns the element value to variable and the execute the statements

In [32]:
for x in l:
    print(x)
    b = x+2
    print(b)

10
12
20
22
30
32

In [1]:
veg = ["tomato", 60.5, 100, "cucumber", 50, 190, "potato", 60, 500 ]

In [13]:
total_quantity = 0
quantities = veg[2::3]
print(quantities)

[100, 190, 500]

In [14]:
for x in quantities:
    total_quantity = total_quantity + x

In [15]:
print(total_quantity)

790

In [16]:
total_quantity = total_quantity/1000
print(total_quantity)

0.79

# range
range is used to generate a special based on the values provided by us

we will having 3 arguments to the range function
1. starting value(default value ---> 0)
2. end value 
3. step size(step size default ----> 1)

In [17]:
l = range(1, 10, 2)
print(l)

range(1, 10, 2)

In [18]:
print(list(l))

[1, 3, 5, 7, 9]

In [19]:
for x in range(5):
    print(x)

0
1
2
3
4

In [20]:
for x in range(5, 26, 5):
    print(x)

5
10
15
20
25

In [21]:
val = int(input("enter the total numbers: "))
for x in range(5, 5*val+1, 5):
    print(x)

enter the total numbers: 6
5
10
15
20
25
30

In [22]:
val = int(input("enter the total numbers: "))
for x in range(1, val+1):
    print(x*5)

enter the total numbers: 6
5
10
15
20
25
30

In [1]:
l = [2, 9, 8, 7, 3, 4, 6, 5]
target = int(input("enter target value: "))
le = len(l)
i = 0
while i < le-1:
    j = i+1
    while j < le:
        if l[i]+l[j] == target:
            print(l[i], l[j])
        j += 1
    i+=1

enter target value: 9
2 7
3 6
4 5

In [2]:
l = [2, 9, 8, 7, 3, 4, 6, 5]
target = int(input("enter target value: "))
le = len(l)
i = 0
while i < le-1:
    j = 0
    while j < le:
        if l[i]+l[j] == target:
            print(l[i], l[j])
        j += 1
    i+=1

enter target value: 9
2 7
7 2
3 6
4 5
6 3

In [3]:
l = [2, 9, 8, 7, 3, 4, 6, 5]
target = int(input("enter target value: "))
for x in l:
    for y in l:
        if x+y == target:
            print(x,y)

enter target value: 9
2 7
7 2
3 6
4 5
6 3
5 4

In [4]:
l = [2, 9, 8, 7, 3, 4, 6, 5]
target = int(input("enter target value: "))
le = len(l)
i = 0
while i < le:
    j = 0
    while j < le:
        if l[i]+l[j] == target:
            print(l[i], l[j])
        j += 1
    i+=1

enter target value: 9
2 7
7 2
3 6
4 5
6 3
5 4

In [5]:
l = [2, 9, 8, 7, 3, 4, 6, 5]
target = int(input("enter target value: "))
le = len(l)
for x in range(le-1):#0, 8, 1 --- [0, 1, 2, 3, 4, 5, 6]
    for y in range(x+1, le): # x = 0 --- [1, 2, 3, 4, 5, 6, 7]
        if l[x]+l[y] == target:
            print(l[x],l[y])

enter target value: 9
2 7
3 6
4 5

# list comprehension

list comprehension is similiar to for loop with minimal statements which can be written in a single line.
the syntax for list comprehension is 

[st for <var> in seq if <condition>] -----> here condition is optional 

in the above syntax, for each element in the sequences it executes the statment
if condition exists, statement will get executed only in condition satisfies

The outcome of list comprehension is always a new list.

In [1]:
l = [2, 9, 8, 15,17]
for i in l:
    print(i+2)

4
11
10
17
19

In [2]:
res = [i+2 for i in l]
print(res)

[4, 11, 10, 17, 19]

In [3]:
print([i+2 for i in l])

[4, 11, 10, 17, 19]

In [6]:
res = [i+2 for i in l if i%2==0]

In [7]:
print(res)

[4, 10]

# ternary operators
we will executing one statement if condition satisfies other we will be executing alternative statement. But total code is written in a single line

<truestatement> if <condition> else <falsestatement>

In [8]:
x = -5 
res = "positive" if x < 0 else "negative"
print(res)

positive

In [9]:
res = "neutral" if x == 0 else "positive" if x > 0 else "negative"
print(res)

negative

[2, 5, 9, 10] -----> [6, 18]

In [12]:
target = 9
l = [2, 9, 8, 7, 3, 4, 6, 5]
res = [ [x,y] for x in l for y in l if x+y==9]

In [13]:
print(res)

[[2, 7], [7, 2], [3, 6], [4, 5], [6, 3], [5, 4]]

In [14]:
target = 9
l = [2, 9, 8, 7, 3, 4, 6, 5]
le = len(l)
res = [ [l[x],l[y]] for x in range(le-1) for y in range(x+1, le) if l[x]+l[y]==9]
print(res)

[[2, 7], [3, 6], [4, 5]]

In [15]:
print(res[0])

[2, 7]

In [16]:
print(res[0][-1])

7

In [17]:
for x in res:
    print(x)

[2, 7]
[3, 6]
[4, 5]

In [18]:
for x in res:
    for y in x:
        print(y)

2
7
3
6
4
5

In [19]:
for x in 1000:
    print(x)

TypeError: 'int' object is not iterable

In [20]:
a = [2, 3, 4]
b = [10, 12, 18]
res = [[x+y for x in a ] for y in b]
print(res)#[[12, 13, 14], [14, 15, 16], [20, 21, 22]]
# [x+y for x in a ] ---> [12, 13, 14]

[[12, 13, 14], [14, 15, 16], [20, 21, 22]]

In [21]:
print(res)

[[12, 13, 14], [14, 15, 16], [20, 21, 22]]

In [22]:
res1 = [y for x in res for y in x]
print(res1)

[12, 13, 14, 14, 15, 16, 20, 21, 22]

In [ ]:
print([[ for y in range(x, x+)] for x in range(0, 9, 3)])