# List

list is ordered group of elements/values/objects which encloses elements inside the square brackets. All elements are separated by comma. Also list is a heterogeneous data type

In [1]:
a = [10, 'python', 20.8, 100]
print(a)

[10, 'python', 20.8, 100]

In [2]:
print(type(a))

<class 'list'>

In [3]:
a = []
print(type(a))
print(a)

<class 'list'>
[]

In [4]:
print(bool([]))

False

In [5]:
print(bool([5]))

True

In [6]:
print(bool([None]))

True

In [7]:
print(bool(None))

False

In [8]:
print(bool([0]))

True

In [9]:
print(list(10))

TypeError: 'int' object is not iterable

In [10]:
t = (10, 20)
print(list(t))

[10, 20]

In [14]:
houses = ["Nag", "Bharathi", "Tarun", "Sunil"]
print(houses[3])

Sunil

In [15]:
print(houses[2])

Tarun

In [16]:
house_3_name = houses[2]
print(house_3_name)

Tarun

In [17]:
print(houses[-3])

Bharathi

In [18]:
print(houses)

['Nag', 'Bharathi', 'Tarun', 'Sunil']

In [19]:
print(houses[-6])

IndexError: list index out of range

In [20]:
houses[3] = "likhita"
print(houses)

['Nag', 'Bharathi', 'Tarun', 'likhita']

In [21]:
veg = ["tomato", 60.5, "cucumber", 50, "potato", 60]

# slicing

1. starting index(default 0)
2. end index(default ---> length of the list)
3. step size(default 1)
[SI:EI:SS]
list slicing is used to get the multiple values at a time. The outcome of list slicing is always a list

In [22]:
print(veg[1:5:3])

[60.5, 'potato']

In [23]:
print(veg)

['tomato', 60.5, 'cucumber', 50, 'potato', 60]

In [24]:
print(veg[1:4])

[60.5, 'cucumber', 50]

In [25]:
print(veg[1::2])

[60.5, 50, 60]

In [26]:
print(veg[::2])

['tomato', 'cucumber', 'potato']

In [27]:
veg = ["tomato", 60.5, 100, "cucumber", 50, 190, "potato", 60, 500 ]
print(veg[1::3])

[60.5, 50, 60]

In [28]:
print(veg[5:2])

[]

In [29]:
print(veg[5:2:-1])

[190, 50, 'cucumber']

In [30]:
print(len(veg))

9

In [31]:
l = [10, 20, 30]

for <var> in <seq>:
    st1
    st2
    |
    |
    st2
for each element in the sequence, it executes all the statements
it takes one by one element from sequence, assigns the element value to variable and the execute the statements

In [32]:
for x in l:
    print(x)
    b = x+2
    print(b)

10
12
20
22
30
32

In [33]:
veg = ["tomato", 60.5, 100, "cucumber", 50, 190, "potato", 60, 500 ]