we will define the strings either in single quotes or double quotes. A string is a ordered group of ASCII characters

In [1]:
a = '123'
print(type(a))

<class 'str'>

In [2]:
print(python)

NameError: name 'python' is not defined

In [3]:
print('python')

python

In [2]:
print(123+123)

246

In [3]:
print('123'+'123')

123123

In [4]:
'day'

'day'

In [5]:
"day"

'day'

In [4]:
a = 'my father's name is xyz'

SyntaxError: unterminated string literal (detected at line 1) (1476233223.py, line 1)

In [6]:
a = 'my father''s name is xyz'
print(a)

my fathers name is xyz

In [7]:
a = "my father's name is xyz"
print(a)

my father's name is xyz

In [9]:
a = 'my father\'s name is xyz'
print(a)

my father's name is xyz

In [1]:
a = 'my father\'s name \nis xyz'
print(a)

my father's name
is xyz

In [2]:
a = 'my father\'s name "\n"is xyz'
print(a)

my father's name "
"is xyz

In [3]:
a = 'my father\'s name \\nis xyz'
print(a)

my father's name \nis xyz

In [4]:
a = "This is NageswaraRao."
"I teach python."
print(a)

This is NageswaraRao.

In [5]:
a = "This is NageswaraRao. \
I teach python."
print(a)

This is NageswaraRao. I teach python.

In [6]:
b = (10, 20,
30, 40)
print(b)

(10, 20, 30, 40)

In [19]:
b = (10, 20 
,30, 40)
print(b)

(10, 20, 30, 40)

In [7]:
a = "This is NageswaraRao. \ \n
I teach python."
print(a)

SyntaxError: unterminated string literal (detected at line 1) (4003197875.py, line 1)

In [8]:
a = "This is NageswaraRao. \n\
I teach python."
print(a)

This is NageswaraRao.
I teach python.

In [9]:
a = """This is NageswaraRao.
I teach python."""
print(a)

This is NageswaraRao.
I teach python.

In [10]:
print('22+25')

22+25

In [11]:
names = ["Tarun", "Suneel"]
marks = [100, 99]
l = len(names)
for x in range(l):
    print("the marks of", names[x], "is", marks[x])

the marks of Tarun is 100
the marks of Suneel is 99

In [14]:
names = ["Tarun", "Suneel"]
marks = [100, 99]
l = len(names)
for x in range(l):
    print(f"the marks of {names[x]} is {marks[x]}")

the marks of Tarun is 100
the marks of Suneel is 99

In [15]:
names = ["Tarun", "Suneel"]
marks = [100, 99]
l = len(names)
res = []
for x in range(l):
    res.append(f"the marks of {names[x]} is {marks[x]}")
print(res)

['the marks of Tarun is 100', 'the marks of Suneel is 99']

In [17]:
names = ["Tarun", "Suneel", 'xy', 'yz']
marks = [100, 99, 55, 70]
l = len(names)
res = []
for x in range(l):
    if marks[x] >= 60:
        res.append(f"the marks of {names[x]} is {marks[x]}")
print(res)

['the marks of Tarun is 100', 'the marks of Suneel is 99', 'the marks of yz is 70']

In [16]:
print([f"the marks of {names[x]} is {marks[x]}" for x in range(l)])

['the marks of Tarun is 100', 'the marks of Suneel is 99']

In [19]:
print([f"the marks of {names[x]} is {marks[x]}" for x in range(l) if marks[x] >= 60])

['the marks of Tarun is 100', 'the marks of Suneel is 99', 'the marks of yz is 70']

In [13]:
names = ["Tarun", "Suneel"]
marks = [100, 99]
l = len(names)
for x in range(l):
    print(names[x], marks[x])

Tarun 100
Suneel 99

In [25]:
names = ["Tarun", "Suneel"]
marks = [100, 99]
l = len(names)
for x in range(l):
    print(f"The marks of {names[x]} is {marks[x]}")

The marks of Tarun is 100
The marks of Suneel is 99

In [20]:
s = "python"
print(s[0])

p

In [2]:
print([x*2 for x in s])

['pp', 'yy', 'tt', 'hh', 'oo', 'nn']

In [3]:
print(['2']*2)

['2', '2']

In [4]:
print(s)

python

In [22]:
print(s)

python

In [23]:
print([x+y for x in s for y in s])

['pp', 'py', 'pt', 'ph', 'po', 'pn', 'yp', 'yy', 'yt', 'yh', 'yo', 'yn', 'tp', 'ty', 'tt', 'th', 'to', 'tn', 'hp', 'hy', 'ht', 'hh', 'ho', 'hn', 'op', 'oy', 'ot', 'oh', 'oo', 'on', 'np', 'ny', 'nt', 'nh', 'no', 'nn']

In [21]:
print(s[0::2])

pto

In [6]:
print([x+y for x in s for y in s])

['pp', 'py', 'pt', 'ph', 'po', 'pn', 'yp', 'yy', 'yt', 'yh', 'yo', 'yn', 'tp', 'ty', 'tt', 'th', 'to', 'tn', 'hp', 'hy', 'ht', 'hh', 'ho', 'hn', 'op', 'oy', 'ot', 'oh', 'oo', 'on', 'np', 'ny', 'nt', 'nh', 'no', 'nn']

In [7]:
price = 200
# the price of the xyz is 200
print(f"the price of the xyz is {price}")

the price of the xyz is 200

In [8]:
veg_names = ["tomato", "onion"]
veg_prices = [50, 20]
l = len(veg_names)
for x in range(l):
    print(f"the price of the {veg_names[x]} is {veg_prices[x]}")

the price of the tomato is 50
the price of the onion is 20

In [24]:
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [10]:
s = "a2b3c2ef3" #aabbbccefefef
s = "a2b3c2ef3" #aabbbccefff
s = "a2b3c2ef3" #aabbbccfff
s = "aabbbcccee" # a2b3c3e2

In [11]:
s = "asd232sfddsaf2343fdsf" # I should get only alphabets ---> asdsfddsaffdsf

In [25]:
s = "this is python class. this class starts at 06:00 PM"
s1 = s.capitalize()
print(s)
print(s1)

this is python class. this class starts at 06:00 PM
This is python class. this class starts at 06:00 pm

In [13]:
print(s.center.__doc__)

Return a centered string of length width.

Padding is done using the specified fill character (default is a space).

In [14]:
print(help(s.center))

Help on built-in function center:

center(width, fillchar=' ', /) method of builtins.str instance
    Return a centered string of length width.

    Padding is done using the specified fill character (default is a space).

None

In [26]:
print(s.center(100))

                        this is python class. this class starts at 06:00 PM

In [27]:
print(s.center(100, '@'))

@@@@@@@@@@@@@@@@@@@@@@@@this is python class. this class starts at 06:00 PM@@@@@@@@@@@@@@@@@@@@@@@@@

In [28]:
print(s.ljust(100, '@'))

this is python class. this class starts at 06:00 PM@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [29]:
print(s.rjust(100, '@'))

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@this is python class. this class starts at 06:00 PM

In [30]:
s1 = s.center(100)
print(s1)

                        this is python class. this class starts at 06:00 PM

In [31]:
print(s1.strip())

this is python class. this class starts at 06:00 PM

In [32]:
s1 = s.center(100, "@")
print(s1)

@@@@@@@@@@@@@@@@@@@@@@@@this is python class. this class starts at 06:00 PM@@@@@@@@@@@@@@@@@@@@@@@@@

In [33]:
print(s1.strip('@'))

this is python class. this class starts at 06:00 PM

In [34]:
print(s1.rstrip('@'))

@@@@@@@@@@@@@@@@@@@@@@@@this is python class. this class starts at 06:00 PM

In [35]:
print(s1.lstrip('@'))

this is python class. this class starts at 06:00 PM@@@@@@@@@@@@@@@@@@@@@@@@@

In [36]:
s = "python"
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [38]:
l = ["a.txt", "b.csv", "c.txt", "d.txt", "a.xlsx"]
print(s.endswith.__doc__)

S.endswith(suffix[, start[, end]]) -> bool

Return True if S ends with the specified suffix, False otherwise.
With optional start, test S beginning at that position.
With optional end, stop comparing S at that position.
suffix can also be a tuple of strings to try.

In [39]:
for x in l:
    if x.endswith(".txt"):
        print(x)

a.txt
c.txt
d.txt

In [41]:
l1 = []
for x in l:
    if x.endswith(".txt") or x.endswith(".csv"):
        l1.append(x)
print(l1)

['a.txt', 'b.csv', 'c.txt', 'd.txt']

In [42]:
print([x for x in l if x.endswith(".txt") or x.endswith(".csv")])

['a.txt', 'b.csv', 'c.txt', 'd.txt']

In [3]:
for name in l:
    if name.endswith(".txt"):
        print(name)

a.txt
c.txt
d.txt

In [4]:
l1 = []
for name in l:
    if name.endswith(".txt"):
        l1.append(name)
print(l1)

['a.txt', 'c.txt', 'd.txt']

In [5]:
print([name for name in l if name.endswith(".txt")])

['a.txt', 'c.txt', 'd.txt']

In [ ]:
# 10_200_3_40

In [43]:
s = "this is python class"
print(s.endswith("thon", 0, -6))

True

In [44]:
print(s.split())

['this', 'is', 'python', 'class']

In [52]:
s1 = s.split()
print(s1)

['this', 'is', 'python', 'class']

In [53]:
print(s1)
print(s1[0])
print(list(s1[0]))

['this', 'is', 'python', 'class']
this
['t', 'h', 'i', 's']

In [54]:
print(list(s.split()[0]))

['t', 'h', 'i', 's']

In [46]:
print(s.split("i"))

['th', 's ', 's python class']

In [12]:
print(s)

this is python class

In [13]:
print(s.split(" ", 2))

['this', 'is', 'python class']

In [51]:
print(list("this"))

['t', 'h', 'i', 's']

In [48]:
print(s.rsplit(" ", 2))

['this is', 'python', 'class']

In [49]:
print(s.rsplit(" "))

['this', 'is', 'python', 'class']

In [50]:
print(s1)

['this', 'is', 'python', 'class']

In [17]:
print(s)

this is python class

In [18]:
print("@".join(s1))

this@is@python@class

In [1]:
s = "11@12@13@15"
veg = "tomato,50,onion,20,potato,50"

In [2]:
a = "a3b2c3f2"
var = a[0]
for x in a[1:]:
    if x.isdigit():
        print(var*(int(x)), end="")
    else:
        var = x

aaabbcccff

In [3]:
a = "a3b2c3f2"
var = a[0]
res = ""
for x in a[1:]:
    if x.isdigit():
        res += var*(int(x))
    else:
        var = x
print(res)

aaabbcccff

In [4]:
a = "a3b2c3ef2"
var = a[0]
res = ""
for x in a[1:]:
    if x.isdigit():
        res += var*(int(x))
        var = ""
    else:
        var += x
print(res)

aaabbcccefef

In [6]:
a = "a3b2c3ef2"
var = ""
res = ""
for x in a:
    if x.isdigit():
        res += var*(int(x))
        var = ""
    elif len(var) >= 1:
        res += var
        var = x
    else:
        var = x
print(res)

aaabbccceff

In [7]:

veg = veg.split(",")
print(veg)

['tomato', '50', 'onion', '20', 'potato', '50']

In [11]:
veg = "tomato,50,onion,20,potato,50"
veg_prices = sum([int(x) for x in veg.split(",")[1::2]])//(len(veg.split(","))//2)
print(veg_prices)

40